In [2]:
import pandas as pd

df = pd.read_csv('sales_data.csv')
df.head(100)

,Transaction_ID,Transaction_Date,Product_Key,Product_Name,PLU,Quantity,Unit_Price,Total_Price,Kategori,Size
0,T0001,20241107,7,Wortel Berastagi,7,1,103.0,103.0,Vegetables,1g
1,T0002,20241028,13,Dada Ayam Fillet,13,2,749.0,1498.0,Meat,1g
2,T0003,20241118,1,Brokoli,1,5,107.0,535.0,Vegetables,1g
3,T0004,20241028,8,K/G Malkist Aroni,8,2,8990.0,17980.0,Snacks,1 pack
4,T0005,20241116,12,Jamur ENOKIDK100,12,5,5990.0,29950.0,Vegetables,1 unit
...,...,...,...,...,...,...,...,...,...,...
95,T0096,20241028,1,Brokoli,1,5,107.0,535.0,Vegetables,1g
96,T0097,20241030,8,K/G Malkist Aroni,8,5,8990.0,44950.0,Snacks,1 pack
97,T0098,20241101,15,Buah Naga Merah,15,1,349.0,349.0,Fruits,1g
98,T0099,20241107,11,Kraft Cheddar CH1,11,5,23990.0,119950.0,Dairy,1 unit
99,T0100,20241026,11,Kraft Cheddar CH1,11,2,23990.0,47980.0,Dairy,1 unit